{% extends 'main/default.html.twig' %}
{% block title %}Редактирование фотографии{% endblock %}
{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="pb-4">Редактирование фотографии</h1>

        {{ include('gallery/_form.html.twig', {'button_label': 'Обновить'}) }}
            <div class="is-flex is-align-items-center pt-4">
                {{ include('gallery/_delete_form.html.twig') }}
                <a href="{{ path('gallery_index') }}"><button class="button is-info is-hovered ml-4 ">Вернуться</button></a>
            </div>
        </div>
    </section>
{% endblock %}
